.gradle/
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/workspace.xml
app/.gitignore
app/build.gradle
app/proguard-rules.pro
app/src/
build.gradle
build/
gradle.properties
gradle/
gradlew
gradlew.bat
local.properties
osmdroid-android/
settings.gradle
*~
README.md
cordova-projects/*
audiowand
